<style>
    i {
        color: red;
        font-size: 30px;
        cursor: pointer;
    }
</style>
<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="card col-md-10">
        <div class="card-body row">
            <div class="col-md-4">
                <img src='<%=info.thumbnail%>' width="80%" alt="thumbnail">
            </div>
            <div class="col align-self-center">
                <h5>
                    <%=info.title%>
                    <i id="heart"></i>
                </h5>
                <hr>
                <div class="mb-3">가격 : <%=info.price%></div>
                <div class="mb-3">출판사 : <%=info.publisher%></div>
                <div class="mb-3">저자 : <%=info.authors%></div>
                <div class="mb-3">ISBN : <%=info.isbn%></div>
                <div class="my-3">
                    <button class="btn btn-success px-5 cart">장바구니</button>
                    <button class="btn btn-warning px-5">바로구매</button>
                </div>
            </div>
        </div>
        <hr>
        <div><%=info.contents%></div>
    </div>
</div>
<script type="module">
    import { app } from '/javascripts/config.js'
    import { getDatabase, ref, set, get, remove, onValue } from "https://www.gstatic.com/firebasejs/10.14.1/firebase-database.js";

    const db = getDatabase(app);

    const isbn = '<%=info.isbn%>'
    const title = '<%=info.title%>'
    const thumbnail = '<%=info.thumbnail%>'
    const publisher = '<%=info.publisher%>'
    const authors = '<%=info.authors%>'
    const contents = '<%=info.contents%>'
    const price = '<%=info.price%>'

    const info = { isbn, title, thumbnail, publisher, authors, contents, price }

    const likeRef = ref(db, `favorite/${uid}/${isbn}`)

    // 좋아요에 추가된 도서인지 체크
    onValue(ref(db, `favorite/${uid}/${isbn}`), snapshot => {
        if (uid) {
            if (snapshot.size === 0) {
                $("#heart").removeClass("bi-heart-fill");
                $("#heart").addClass("bi-heart");
            } else {
                $("#heart").removeClass("bi-heart");
                $("#heart").addClass("bi-heart-fill");
            }
        } else {
            $('#heart').setAttribute('class', '')
        }
    });

    $("#heart").on('click', function() {
        // 빈 하트를 클릭한 경우
        if ($(this).attr('class') === 'bi-heart') {
            if (confirm('좋아요를 추가하시겠습니까?')) {
                set(ref(db, `favorite/${uid}/${isbn}`), {info})
            }
        } else { // 채워진 하트를 클릭한 경우
            if (confirm('좋아요를 취소하시겠습니까?')) {
                remove(ref(db, `favorite/${uid}/${isbn}`))
            }
        }
    })

    // 장바구니 클릭한 경우
    $(".cart").on("click", async function () {
        if (email) {
            const ref_cart = ref(db, `cart/${uid}/${isbn}`)
            const snapshot = await get(ref_cart)

            if (snapshot.val()) {
                alert('장바구니에 이미 존재하는 도서')
            } else {
                await set(ref_cart, info)
                alert('장바구니 추가 완료')
            }
        } else {
            sessionStorage.setItem('target', window.location.href)
            location.href = '/users/login'
        }
    })
</script>
